@media screen and (max-width: 990px) {
  
   .header  .nav {
    display: block;
   }

   .nav .search {
    margin-left: 1rem;
   }

   .navbar .min-nav {
       display: block;
   }

    #header .nav-link {
        padding: .5rem 1rem 0 1rem;
    }

   .vis {
    display: none;
   }

   .header .logo {
    margin-top: -2rem;
   }

   .submenu-product:hover ul {
    display: none;
   }
   
   .submenu-service:hover ul {
    display: none;
   }

   .vis .nav > li {
       width: 13rem;
       margin-right: 6rem;
   }

   .login.small-l {
    display: block;
   }

   .login.big-l {
    display: none;
   }

   .big-triangle-icon {
    height: 50%;
   }

   .form-el input {
      margin: 0;
    }

   .maps {
    width: 100%; 
  }

  .p-vote {
    left: 52%;
  }

    .home .slider {
        width: 50%;
    }

    .big-lang {
        display: none;
    }

    .lang-block.small-lang {
        display: block;
        right: 5rem;
    }
}


@media screen and (max-width: 768px) {
    .header .logo {
       margin-top: -2.4rem;
     }

     .abour-paragraph {
       max-height: 15rem;
     } 

     .form-el input {
      margin: 0;
      width: 70%;
    } 

    .p-vote {
      left: 57%;
    }

    .home .slider {
        width: 70%;
    }

}


@media screen and (max-width: 576px) {
    .my-cart-btn {
        display: none;
    }

    .nav .small-my-cart {
        display: block;
    }

    .navbar .small-l {
        display: none;
    }

    .nav .login-small-2 {
        display: block;
    }

    .vis .nav > li {
        margin-right: 1rem;
    }

    .navbar .min-nav {
        right: 3rem;
    }

    .footer .container div {
        font-size: .6rem;
    }

    .lang-block.small-lang {
        right: .5rem;
    }
}